<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_muenster.buecherwelt" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display2Activity"
            android:label="@string/title_activity_display2" >
        </activity>
        <activity
            android:name=".AusgwBuchActiviy"
            android:label="@string/title_activity_ausgw_buch_activiy" >
        </activity>
        <activity
            android:name=".VerwaltungActivity"
            android:label="@string/title_activity_verwaltung" >
        </activity>
        <activity
            android:name=".KundenActivity"
            android:label="@string/title_activity_kunden" >
        </activity>
        <activity
            android:name=".NeuerKundeActivity"
            android:label="@string/title_activity_neuer_kunde" >
        </activity>
        <activity
            android:name=".KundenUeberblickActivity"
            android:label="@string/title_activity_kunden_ueberblick" >
        </activity>
        <activity
            android:name=".BuchActivity"
            android:label="@string/title_activity_buch" >
        </activity>
        <activity
            android:name=".NeuesBuchActivity"
            android:label="@string/title_activity_neues_buch" >
        </activity>
    </application>

</manifest>
