<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_muenster.buecherwelt" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".buecherwelt.BuecherweltApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_books"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".buecherweltAndroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buecherweltAndroid.Display2Activity"
            android:label="@string/title_activity_display2" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.AusgwBuchActiviy"
            android:label="@string/title_activity_ausgw_buch_activiy" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.VerwaltungActivity"
            android:label="@string/title_activity_verwaltung" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.KundenActivity"
            android:label="@string/title_activity_kunden" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.NeuerKundeActivity"
            android:label="@string/title_activity_neuer_kunde" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.KundenUeberblickActivity"
            android:label="@string/title_activity_kunden_ueberblick" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.BuchActivity"
            android:label="@string/title_activity_buch" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.NeuesBuchActivity"
            android:label="@string/title_activity_neues_buch" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.KundeneinsichtActivity"
            android:label="@string/title_activity_kundeneinsicht" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.Mitarbeiter_activity"
            android:label="@string/title_activity_mitarbeiter_activity" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.Mitarbeiter_bearbeiten"
            android:label="@string/title_activity_mitarbeiter_bearbeiten" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.m_mitarbeiterListe"
            android:label="@string/title_activity_m_mitarbeiter_liste" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.MitarbeiterLogin"
            android:label="@string/title_activity_mitarbeiter_login" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.Daten_Mitarbeiter"
            android:label="@string/title_activity_daten__mitarbeiter" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.Kundendaten"
            android:label="@string/title_activity_kundendaten" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.buecherweltListe"
            android:label="@string/title_activity_buecherwelt_liste" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.buecherListe"
            android:label="@string/title_activity_buecher_liste" >
        </activity>
        <activity
            android:name=".buecherweltAndroid.Ausleihkonto"
            android:label="@string/title_activity_ausleihkonto" >
        </activity>
    </application>

</manifest>
